# Example 1: Energy Census and Economic Data in U.S. 2010-2014

In this example we will be exploring a dataset provided by data.gov and kaggle.com about energy and economic data in the U.S. The data and some accompanying information can be found on kaggle here:

https://www.kaggle.com/lislejoem/us_energy_census_gdp_10-14


## Data Exploration with Pandas

As an introduction to data science in Python, the following walks through an exploration of this dataset using some of the most commonly applied functionality. As an avid user of R also, I like the idea of porting the "5 verbs of dplyr" to Python (via pandas):

* arrange: sort or order a data frame
* select: subset your dataset down to particular columns/variables of interest
* filter: subset your dataset down to particular rows/observations of interest
* mutate: create and append new variables/columns to your dataset
* summarize: compute aggregations, statistics, or other summaries of the data

with the obligatory inclusion of being able to "group by." Besides the parallel with dplyr functionality in R, these operations also constitute the core of most SQL queries. So, to say they are foundational is still probably an understatement!

So, let's dive right in!

### Reading the Data In

In [108]:
import pandas as pd
import numpy as np

energy = pd.read_csv("Energy Census and Economic Data US 2010-2014.csv")
energy.head()

,StateCodes,State,Region,Division,Coast,Great Lakes,TotalC2010,TotalC2011,TotalC2012,TotalC2013,...,RINTERNATIONALMIG2013,RINTERNATIONALMIG2014,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014
0,AL,Alabama,3.0,6.0,1.0,0.0,1931522,1905207,1879716,1919365,...,1.165832,1.157861,-0.020443,-0.168414,0.396416,0.420102,1.011941,1.001333,1.562247,1.577963
1,AK,Alaska,4.0,9.0,1.0,0.0,653221,653637,649341,621107,...,3.203618,2.869760,-1.175137,-1.949571,-3.789313,-13.754494,0.948185,1.835376,-0.585695,-10.884734
2,AZ,Arizona,4.0,8.0,0.0,0.0,1383531,1424944,1395839,1414383,...,1.090035,1.091283,1.341472,-0.420875,-0.580562,-1.313050,2.317801,0.621971,0.509473,-0.221767
3,AR,Arkansas,3.0,7.0,0.0,0.0,1120632,1122544,1067642,1096438,...,2.141877,2.129805,1.369514,5.131282,3.910476,6.280636,3.336628,7.155212,6.052353,8.410441
4,CA,California,4.0,9.0,1.0,0.0,7760629,7777115,7564063,7665241,...,4.207353,4.177389,-1.162079,-1.173951,-1.341226,-0.830982,2.761377,2.772770,2.866127,3.346406

### Arranging the Data

As you may have observed in the first few rows above, the data appear to be sorted by StateCodes. However, it may be interesting to sort by a few of the other variables to get a quick, rough sense of some of the rankings.

In [109]:
energy.sort_values(by = "TotalC2010")

# energy.sort_values(by = "TotalC2010", ascending = False)

# energy.sort_values(by = ["Region", "TotalC2010"], ascending = False)

# energy.sort_values(by = ["Region", "TotalC2010"], ascending = [True, False])

# energy.sort_values(by = ["Region", "TotalC2010"], ascending = [True, False]).head(10)

,StateCodes,State,Region,Division,Coast,Great Lakes,TotalC2010,TotalC2011,TotalC2012,TotalC2013,...,RINTERNATIONALMIG2013,RINTERNATIONALMIG2014,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014
44,VT,Vermont,1.0,1.0,0.0,0.0,153697,150475,130412,137527,...,1.150844,1.147264,-0.752251,-2.604208,-1.098171,-2.471644,0.255542,-1.516859,0.052674,-1.324380
50,DC,District of Columbia,3.0,5.0,0.0,0.0,190529,183806,172963,175560,...,5.871584,5.749218,11.332882,10.005838,9.777666,1.793572,16.805955,15.595790,15.649250,7.542790
38,RI,Rhode Island,1.0,1.0,1.0,0.0,195314,185731,183879,199165,...,4.106380,4.069191,-5.839158,-5.025997,-4.874665,-3.212669,-2.058812,-1.031997,-0.768284,0.856522
7,DE,Delaware,3.0,5.0,1.0,0.0,250212,272568,273728,273716,...,2.608949,2.565489,2.866848,3.598380,3.397171,5.148174,5.303282,6.221263,6.006120,7.713663
10,HI,Hawaii,4.0,9.0,1.0,0.0,278046,287113,280171,281329,...,6.426691,6.074495,-0.728612,-2.567288,-0.663156,-3.635081,4.254976,4.316105,5.763534,2.439414
28,NH,New Hampshire,1.0,1.0,1.0,0.0,294473,292979,284490,304538,...,1.536359,1.529386,-1.636665,-0.398575,-1.986450,0.843201,-0.302889,1.045690,-0.450090,2.372587
40,SD,South Dakota,2.0,4.0,0.0,0.0,378514,378470,375950,389619,...,1.751176,1.706026,2.449458,5.243945,5.197576,0.661688,3.990580,7.059852,6.948752,2.367714
25,MT,Montana,4.0,8.0,0.0,0.0,400855,402355,395724,405934,...,0.792069,0.751554,3.434200,3.550986,5.297949,4.464192,4.040768,4.416764,6.090018,5.215746
18,ME,Maine,1.0,1.0,1.0,0.0,415065,413893,399670,409785,...,1.045424,1.035809,0.061763,-0.467529,-1.102625,0.399430,0.951308,0.534533,-0.057201,1.435239
33,ND,North Dakota,2.0,4.0,0.0,0.0,476072,528508,552326,594439,...,1.915034,1.763091,9.145424,15.589637,23.189451,12.265101,10.679714,17.804574,25.104485,14.028192
11,ID,Idaho,4.0,8.0,0.0,0.0,516120,516978,510869,526613,...,1.052850,1.043942,0.058331,-0.163554,2.986505,4.738696,0.952949,0.848596,4.039355,5.782638
49,WY,Wyoming,4.0,8.0,0.0,0.0,540122,556548,550182,539146,...,0.858535,0.830923,-0.362194,9.651174,4.547821,-4.577788,0.323325,10.610525,5.406356,-3.746865
27,NV,Nevada,4.0,8.0,0.0,0.0,645604,632655,639190,659568,...,3.032412,3.003591,-2.827329,5.284416,4.755226,8.390946,-0.080781,8.145301,7.787639,11.394537
30,NM,New Mexico,4.0,8.0,0.0,0.0,649962,668675,666540,670257,...,1.283954,1.280777,0.030893,-3.420129,-5.062940,-6.784475,1.098143,-2.078308,-3.778986,-5.503698
1,AK,Alaska,4.0,9.0,1.0,0.0,653221,653637,649341,621107,...,3.203618,2.869760,-1.175137,-1.949571,-3.789313,-13.754494,0.948185,1.835376,-0.585695,-10.884734
47,WV,West Virginia,3.0,5.0,0.0,0.0,738821,726341,720985,743612,...,0.631283,0.628523,0.586117,0.562068,-1.252861,-1.484373,1.143656,1.171559,-0.621579,-0.855850
43,UT,Utah,4.0,8.0,0.0,0.0,756012,794058,790154,831668,...,1.888857,1.869754,-0.328821,-0.030685,1.920812,-0.422534,1.419762,1.759980,3.809669,1.447220
6,CT,Connecticut,1.0,1.0,1.0,0.0,764970,739130,725019,754901,...,4.753602,4.730950,-3.384435,-5.611492,-4.731638,-7.286252,1.116894,-1.059166,0.021964,-2.555302
26,NE,Nebraska,2.0,4.0,0.0,0.0,860741,862675,852984,871815,...,2.056139,2.029078,-0.644863,-0.491654,-0.478459,-1.360362,1.169359,1.514447,1.577680,0.668716
36,OR,Oregon,4.0,9.0,1.0,0.0,975067,1002476,975044,991867,...,1.728175,1.737588,2.957665,3.376113,2.489666,5.740471,4.528908,4.932576,4.217842,7.478058
15,KS,Kansas,2.0,4.0,0.0,0.0,1117631,1104843,1075435,1105160,...,2.106968,2.050753,-3.156968,-1.789806,-4.369598,-4.760146,-1.406549,0.474641,-2.262630,-2.709393
3,AR,Arkansas,3.0,7.0,0.0,0.0,1120632,1122544,1067642,1096438,...,2.141877,2.129805,1.369514,5.131282,3.910476,6.280636,3.336628,7.155212,6.052353,8.410441
23,MS,Mississippi,3.0,6.0,1.0,0.0,1177620,1155456,1143099,1138181,...,0.784164,0.751718,-1.960911,-1.889481,-1.605462,-3.134498,-1.337642,-0.966703,-0.821298,-2.382780
2,AZ,Arizona,4.0,8.0,0.0,0.0,1383531,1424944,1395839,1414383,...,1.090035,1.091283,1.341472,-0.420875,-0.580562,-1.313050,2.317801,0.621971,0.509473,-0.221767
20,MA,Massachusetts,1.0,1.0,1.0,0.0,1416119,1397164,1363282,1428433,...,5.589799,5.542473,-0.523666,-1.631583,-0.325484,-2.431048,4.789037,3.646943,5.264315,3.111426
19,MD,Maryland,3.0,5.0,1.0,0.0,1464503,1410012,1368600,1395961,...,4.914731,4.860034,0.062930,-1.432047,-1.513876,-2.567321,4.604050,3.278216,3.400855,2.292713
14,IA,Iowa,2.0,4.0,0.0,0.0,1499729,1498973,1440053,1518870,...,1.732413,1.731762,0.091575,-1.398832,0.150123,-0.261313,1.684655,0.189551,1.882536,1.470449
5,CO,Colorado,4.0,8.0,0.0,0.0,1513547,1470445,1440781,1470844,...,2.074200,2.010735,5.183397,5.553675,6.977583,7.587163,6.933159,7.660864,9.051783,9.597898
35,OK,Oklahoma,3.0,7.0,0.0,0.0,1579910,1585212,1561913,1620837,...,1.508701,1.472222,1.674263,2.350733,3.599656,1.132300,3.007153,3.955502,5.108357,2.604522
39,SC,South Carolina,3.0,5.0,1.0,0.0,1643912,1601881,1558766,1590456,...,1.379318,1.310648,3.191202,5.613008,5.954363,8.040889,4.292891,7.229497,7.333681,9.351536
48,WI,Wisconsin,2.0,3.0,0.0,1.0,1791199,1778018,1721543,1813458,...,1.129419,1.139079,-1.094924,-1.653887,-1.369743,-1.727053,-0.058431,-0.619224,-0.240324,-0.587974
22,MN,Minnesota,2.0,4.0,0.0,1.0,1857095,1850749,1816866,1858816,...,2.583619,2.574079,-0.628046,-1.657431,-0.414342,-1.230969,1.733460,0.748277,2.169278,1.343109
24,MO,Missouri,2.0,4.0,0.0,0.0,1910500,1856590,1781978,1847506,...,1.454160,1.427261,-2.245426,-2.240644,-1.348777,-1.333608,-0.987954,-0.800444,0.105384,0.093653
0,AL,Alabama,3.0,6.0,1.0,0.0,1931522,1905207,1879716,1919365,...,1.165832,1.157861,-0.020443,-0.168414,0.396416,0.420102,1.011941,1.001333,1.562247,1.577963
16,KY,Kentucky,3.0,6.0,0.0,0.0,1978527,1903208,1868483,1838898,...,1.394732,1.356853,0.597027,-1.271262,-0.542181,-0.858954,1.778007,0.199920,0.852551,0.497899
46,WA,Washington,4.0,9.0,1.0,0.0,2031428,2059630,2037127,2036309,...,3.455210,3.396158,3.446470,1.962177,2.250746,3.998925,6.416385,5.370291,5.705957,7.395083
41,TN,Tennessee,3.0,6.0,0.0,0.0,2247273,2195401,2080953,2132508,...,1.417493,1.404195,2.452525,4.286281,2.089798,3.757448,3.696271,5.729927,3.507291,5.161643
29,NJ,New Jersey,1.0,2.0,1.0,0.0,2395713,2411816,2241207,2311685,...,5.799240,5.784530,-5.110337,-5.589038,-5.120562,-6.215126,0.454262,-0.199000,0.678679,-0.430596
45,VA,Virginia,3.0,5.0,1.0,0.0,2483360,2380922,2343908,2414477,...,4.195152,4.098421,1.331717,0.603915,0.304183,-2.458330,4.975221,5.003800,4.499335,1.640092
32,NC,North Carolina,3.0,5.0,1.0,0.0,2685333,2558792,2481060,2530649,...,2.260641,2.140972,3.172143,3.299538,3.886902,3.663640,5.047944,5.772981,6.147543,5.804612
21,MI,Michigan,2.0,3.0,0.0,1.0,2753536,2785212,2687926,2832425,...,2.029017,2.028870,-4.371657,-3.394243,-2.986811,-2.895688,-2.546041,-1.522632,-0.957793,-0.866818
13,IN,Indiana,2.0,3.0,0.0,1.0,2863396,2847188,2770158,2894764,...,1.586775,1.590575,-1.302543,-1.954162,-0.231150,-1.192172,0.155918,-0.507730,1.355625,0.398403
9,GA,Georgia,3.0,5.0,1.0,0.0,3100144,2982837,2767491,2782782,...,2.510526,2.470423,1.105816,1.852201,-0.576888,2.200467,3.375007,4.426268,1.933638,4.670890
31,NY,New York,1.0,2.0,1.0,1.0,3723729,3611091,3503309,3626150,...,6.051932,6.023999,-4.325455,-5.946809,-5.482049,-7.804947,1.494350,-0.318997,0.569883,-1.780948
37,PA,Pennsylvania,1.0,2.0,0.0,1.0,3752280,3725014,3623997,3826959,...,2.272758,2.273109,-0.546767,-1.358703,-2.483940,-2.459901,1.578782,0.797051,-0.211183,-0.186792
34,OH,Ohio,2.0,3.0,0.0,1.0,3824933,3792585,3655849,3739974,...,1.518581,1.513932,-3.188588,-3.204065,-1.912303,-1.574969,-1.819983,-1.762236,-0.393722,-0.061037
12,IL,Illinois,2.0,3.0,0.0,1.0,3955091,3937616,3820547,3991089,...,2.505015,2.518554,-5.424762,-5.690472,-5.238098,-7.369176,-3.182714,-3.382339,-2.733083,-4.850621
8,FL,Florida,3.0,5.0,1.0,0.0,4282673,4141711,4029903,4076406,...,5.783717,5.687300,5.540393,5.125320,4.918783,7.016123,11.359606,10.722573,10.702501,12.703423
17,LA,Louisiana,3.0,7.0,1.0,0.0,4385758,4388867,4255161,4196622,...,1.651933,1.620656,0.454747,-0.167961,-0.496858,-1.311569,1.940240,1.525589,1.155076,0.309086
4,CA,California,4.0,9.0,1.0,0.0,7760629,7777115,7564063,7665241,...,4.207353,4.177389,-1.162079,-1.173951,-1.341226,-0.830982,2.761377,2.772770,2.866127,3.346406
42,TX,Texas,3.0,7.0,1.0,0.0,11687521,11906249,11931169,12660976,...,3.201213,3.166214,4.577945,5.630982,4.428284,5.778507,7.675275,8.724163,7.629497,8.944721
51,US,United States,NaN,NaN,NaN,NaN,97446021,96827465,94411432,97141368,...,3.168211,3.135081,NaN,NaN,NaN,NaN,2.941968,3.051932,3.168211,3.135081

As you can see it's relatively easy to rearrange a pandas data frame according to variables within. Notice, also, that this simple exploration revealed a row in the dataset corresponding to totals for the entire U.S. If our exploration is going to focus on the individual states and comparing them, then we might want to remove this row later.

### Selecting Particular Columns/Variables

We have a great deal of variables in this dataset! To streamline our investigation and ease our visual inspection of particular characteristics of the data it is often useful to look at certain subsets of variables as opposed to the entirety of the data.

To make sure we continue to get practice with previous ideas and build on our data science knowledge in Python, let's arrange and select!

In [110]:
energy.sort_values(by = "RBIRTH2011", ascending = False)[["State", "Coast", "RBIRTH2011"]]

# energy.sort_values(by = "RBIRTH2011", ascending = False)[["State", "Coast", "RBIRTH2011"]].head()

# energy.sort_values(by = "RBIRTH2011", ascending = False).loc[:, ["State", "Coast", "RBIRTH2011"]].head()

                   State  Coast  RBIRTH2011
43                  Utah    0.0   18.577841
1                 Alaska    1.0   16.297371
50  District of Columbia    0.0   15.006074
42                 Texas    1.0   14.998902
11                 Idaho    0.0   14.552284
40          South Dakota    0.0   14.373648
26              Nebraska    0.0   14.018148
15                Kansas    0.0   14.003701
10                Hawaii    1.0   13.971988
35              Oklahoma    0.0   13.931870
17             Louisiana    1.0   13.660174
4             California    1.0   13.586892
9                Georgia    1.0   13.584010
33          North Dakota    0.0   13.534993
30            New Mexico    0.0   13.418105
3               Arkansas    0.0   13.364516
23           Mississippi    1.0   13.358939
27                Nevada    0.0   13.221128
49               Wyoming    0.0   13.194475
2                Arizona    0.0   13.119192
5               Colorado    0.0   12.965474
13               Indiana    0.0   12.834450
22             Minnesota    0.0   12.830003
51         United States    NaN   12.795638
46            Washington    1.0   12.782933
24              Missouri    0.0   12.700151
16              Kentucky    0.0   12.687107
45              Virginia    1.0   12.685643
19              Maryland    1.0   12.645876
12              Illinois    0.0   12.641046
32        North Carolina    1.0   12.601329
7               Delaware    1.0   12.503043
31              New York    1.0   12.491813
0                Alabama    1.0   12.451816
14                  Iowa    0.0   12.379319
39        South Carolina    1.0   12.347379
41             Tennessee    0.0   12.325973
29            New Jersey    1.0   12.091446
25               Montana    0.0   12.068990
34                  Ohio    0.0   11.950274
48             Wisconsin    0.0   11.893084
36                Oregon    1.0   11.781339
21              Michigan    0.0   11.541682
8                Florida    1.0   11.233315
37          Pennsylvania    0.0   11.232889
20         Massachusetts    1.0   11.107938
47         West Virginia    0.0   11.036467
6            Connecticut    1.0   10.497523
38          Rhode Island    1.0   10.452720
28         New Hampshire    1.0    9.862500
44               Vermont    0.0    9.664266
18                 Maine    1.0    9.513835

And the order of operations should not affect the result as we're just arranging and subsetting columns...

In [111]:
energy[["State", "Coast", "RBIRTH2011"]].sort_values(by = "RBIRTH2011", ascending = False).head()

                   State  Coast  RBIRTH2011
43                  Utah    0.0   18.577841
1                 Alaska    1.0   16.297371
50  District of Columbia    0.0   15.006074
42                 Texas    1.0   14.998902
11                 Idaho    0.0   14.552284

So, we can see here that Utah had the highest birth rate in 2011, followed by Alaska and D.C.

### Filtering the Data

Despite the difference in terms, "select" and "filter" are really just different forms of subsetting the data. The former for subsetting columns/variables, and the latter for subsetting rows/observations. Again, let's continue to build upon what we've seen...

In [112]:
energy.loc[1:10, ["State", "Coast", "TotalPrice2013"]].sort_values(by = "TotalPrice2013", ascending = False)

# energy = energy.loc[energy["StateCodes"] != "US"]
# energy

          State  Coast  TotalPrice2013
10       Hawaii    1.0           38.60
6   Connecticut    1.0           27.69
2       Arizona    0.0           26.05
8       Florida    1.0           25.13
4    California    1.0           24.85
1        Alaska    1.0           24.60
7      Delaware    1.0           24.28
9       Georgia    1.0           21.37
5      Colorado    0.0           21.14
3      Arkansas    0.0           19.54

In [113]:
energy.loc[energy["Coast"] == 1.0, ["State", "TotalPrice2013"]].sort_values(by = "TotalPrice2013", ascending = False)

             State  TotalPrice2013
10          Hawaii           38.60
28   New Hampshire           27.88
6      Connecticut           27.69
20   Massachusetts           26.50
38    Rhode Island           26.21
19        Maryland           25.47
8          Florida           25.13
4       California           24.85
31        New York           24.85
1           Alaska           24.60
7         Delaware           24.28
29      New Jersey           23.75
32  North Carolina           23.39
36          Oregon           22.20
45        Virginia           22.04
39  South Carolina           21.99
18           Maine           21.86
46      Washington           21.51
9          Georgia           21.37
23     Mississippi           21.33
42           Texas           19.08
0          Alabama           19.02
17       Louisiana           15.67

In [114]:
energy.loc[(energy["Coast"] == 1.0) | (energy["Great Lakes"] == 1.0), ["State", "TotalPrice2013"]].sort_values(by = "TotalPrice2013", ascending = False)

             State  TotalPrice2013
10          Hawaii           38.60
28   New Hampshire           27.88
6      Connecticut           27.69
20   Massachusetts           26.50
38    Rhode Island           26.21
19        Maryland           25.47
8          Florida           25.13
4       California           24.85
31        New York           24.85
1           Alaska           24.60
7         Delaware           24.28
29      New Jersey           23.75
32  North Carolina           23.39
36          Oregon           22.20
45        Virginia           22.04
39  South Carolina           21.99
18           Maine           21.86
37    Pennsylvania           21.67
46      Washington           21.51
9          Georgia           21.37
23     Mississippi           21.33
21        Michigan           20.48
48       Wisconsin           20.43
34            Ohio           20.02
22       Minnesota           19.87
42           Texas           19.08
0          Alabama           19.02
12        Illinois           18.54
13         Indiana           17.86
17       Louisiana           15.67

Why did we need to use | instead of "or" in the code in the previous cell?

### Mutate

Creating new variables or revising existing ones is also a common practice in order to augment and enhance a dataset. Let's create a few new variables/columns in our dataset!

In [115]:
energy["Water"] = energy["Coast"].radd(energy["Great Lakes"]).div(2).apply(np.ceil)
energy[["State","Water"]]
# energy.loc[energy["Water"] == 1, ["State", "Water", "Coast", "Great Lakes"]]

# energy["Pop10k"] = energy["CENSUS2010POP"]/10000
# energy[["State", "CENSUS2010POP", "Pop10k"]].head(10)

                   State  Water
0                Alabama    1.0
1                 Alaska    1.0
2                Arizona    0.0
3               Arkansas    0.0
4             California    1.0
5               Colorado    0.0
6            Connecticut    1.0
7               Delaware    1.0
8                Florida    1.0
9                Georgia    1.0
10                Hawaii    1.0
11                 Idaho    0.0
12              Illinois    1.0
13               Indiana    1.0
14                  Iowa    0.0
15                Kansas    0.0
16              Kentucky    0.0
17             Louisiana    1.0
18                 Maine    1.0
19              Maryland    1.0
20         Massachusetts    1.0
21              Michigan    1.0
22             Minnesota    1.0
23           Mississippi    1.0
24              Missouri    0.0
25               Montana    0.0
26              Nebraska    0.0
27                Nevada    0.0
28         New Hampshire    1.0
29            New Jersey    1.0
30            New Mexico    0.0
31              New York    1.0
32        North Carolina    1.0
33          North Dakota    0.0
34                  Ohio    1.0
35              Oklahoma    0.0
36                Oregon    1.0
37          Pennsylvania    1.0
38          Rhode Island    1.0
39        South Carolina    1.0
40          South Dakota    0.0
41             Tennessee    0.0
42                 Texas    1.0
43                  Utah    0.0
44               Vermont    0.0
45              Virginia    1.0
46            Washington    1.0
47         West Virginia    0.0
48             Wisconsin    1.0
49               Wyoming    0.0
50  District of Columbia    0.0
51         United States    NaN

### Summarizing and Grouping

We finally get to some excitement! Oh, who am I kidding...we're all here probably because the above sections excite us as much as this one. So, now we want to compute some summary statistics or aggregations.

We'll start with some overall summaries and then move statistics by groups.

In [118]:
# energy["Water"].mean()
# energy["Water"].var()
# energy["TotalC2010"].median()

# def mymean(x):
#     return np.mean(x)/2

# mymean(energy["Water"])


energy.groupby("Water")[["TotalC2010", "TotalPrice2013"]].mean()

energy.groupby(["Division", "Water"])[["TotalC2010", "TotalPrice2013"]].mean()

                  TotalC2010  TotalPrice2013
Division Water
1.0      0.0    1.536970e+05       28.290000
         1.0    6.171882e+05       26.028000
2.0      1.0    3.290574e+06       23.423333
3.0      1.0    3.037631e+06       19.466000
4.0      0.0    1.040531e+06       20.020000
         1.0    1.857095e+06       19.870000
5.0      0.0    4.646750e+05       22.555000
         1.0    2.272877e+06       23.381429
6.0      0.0    2.112900e+06       21.305000
         1.0    1.554571e+06       20.175000
7.0      0.0    1.350271e+06       19.705000
         1.0    8.036640e+06       17.375000
8.0      0.0    8.007191e+05       21.846250
9.0      1.0    2.339678e+06       26.352000

## Conclusion

This concludes this example where we explored some of the primary verbs/operations when working with data. In Example 2 we'll look at joining the above dataset with another and then creating some basic visualizations.

### Resources

The pandas documentation is wonderful and can be found here:

https://pandas.pydata.org/pandas-docs/stable/index.html

I also highly recommend Python for Data Analysis by Wes McKinney:

https://wesmckinney.com/pages/book.html

The internet is, of course, full of other resources and searching will get you very far!